<p id="notice"><%= notice %></p>

<div>
	<h1><%= @destination.destination %>!</h1>
  <img src=<%= @destination.image %> alt="">
</div>

<% if @destination.places.any? %>
<% @destination.places.first(9).each do |place| %>
  <% if place.reviews.any? %>

    <%= link_to place.name, destination_place_path(place.destination, place), :class => "reviewPlace" %>
      <td id="reviewRating"><%= place.reviews.first[:stars]%> &#9733;</td>
        <div id="reviewTag"><td><%= place.tag %></td></div>

        <div>
        <td><%= place.destination.destination %></td>
        </div>
        <br>
        <div>
          <td>"<%= place.reviews.first[:text] %>"</td>
        </div>
        <div class="reviewerName">
          <td>- <%= place.reviews.first.user.name %></td>
        </div>
        <br>
<% end %>
<% end %>
<% end %>

<%= link_to 'Home', root_path %>
<br>
<%= link_to 'Back', destinations_path %>
