<p id="notice"><%= notice %></p>

<div>
	<h1><%= @destination.destination %>!</h1>
  <img src=<%= @destination.image %> alt="">
</div>

<% if @destination.places.any? %>
<% @destination.places.first(9).each do |place| %>
  <% if place.reviews.any? %>
        <h4 class="reviewPlace"><%= place.name%><div id="reviewRating"><td><%= place.reviews.first[:stars]%> &#9733;</td></div> </h4>
        <div id="reviewTag"><td><%= place.tag %></td></div>

        <div>
        <td><%= place.destination.destination %></td>
        </div>
        <br>
        <div>
          <td>"<%= place.reviews.first[:text] %>"</td>
        </div>
        <div class="reviewerName">
          <td>- <%= place.reviews.first.user.name %></td>
        </div>
        <br>
      </tr>
      <% end %>
       <% end %>
</div>
<% end %>

<%= link_to 'Home', root_path %>
<br>
<%= link_to 'Back', destinations_path %>
