<%= form_for [@place, Review.new] do |f| %>


  <div class="field">
 <%= f.radio_button :stars, "1" %> 1  &#9733;
  <%= f.radio_button :stars, "2" %> 2   &#9733;
    <%= f.radio_button :stars, "3" %> 3   &#9733;
      <%= f.radio_button :stars, "4" %> 4   &#9733;
        <%= f.radio_button :stars, "5" %> 5   &#9733;
  </div>
    <%= f.label :text %><br>
    <div class="field">
    <%= f.text_area :text, :cols => "30", :rows => "10"  %>
    <br>
    <%= f.submit "Post a Review!" %></div>
<% end %>


