<p id="notice"><%= notice %></p>
<div class="row">
<div class="col-lg-4 col-md-offset-2 reviewPost">

<h2>Post a Review for a <%= @place.name %></h2>
 <p>Where: <%= @place.address %></p>
  <p>City: <%= @place.city %></p>
  <p>Tag:<%= @place.tag %></p>

<br>
  <%= render "reviews/form" %>
</div>
</div>