<p id="notice"><%= notice %></p>

<div>
  <strong>Name:</strong>
  <%= @review.name %>
</div>

<div>
  <strong>Address:</strong>
  <%= @review.address %>
  <%= @review.photo %>
</div>

<div>
  <strong>Stars:</strong>
  <%= @review.stars %>
</div>

<div>
  <strong>Text:</strong>
  <%= @review.text %>
</div>

<%= link_to 'Edit', edit_review_path(@review) %> |
