
<div class="container-fluid">
  <h2 id="reviewH2">Latest reviews for <%= @place.name%></h2>
</div>

<div id="revSection">
    <div class="homeRw">
  <tr>
<% if @place.reviews.any? %>
<% @place.reviews.each do |review| %>
  <h4 class="reviewPlace"><%= review.text%>
 </h4>
 <br>
    <div id="reviewRating"><td><%= review.stars%> &#9733;</td>
          <td class= "reviewerName"><%=review.user.name %></td>
          </div>
        <br>
      </tr>
  </div>
  <% end %>
  <% end %>
<%= link_to "Post a review for #{@place.name}", new_place_review_path(@place) %>
</div>