<div class="container">
<p id="notice"><%= notice %></p>

<p>
  <%= @place.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @place.address %>
</p>

<p>
  <strong>Photo:</strong>
  <%= @place.photo %>
</p>

<p>
  <strong>Tag:</strong>
  <%= @place.tag %>
</p>

<h1>Reviews for <%= @place.name %></h1>
<% @place.reviews.each do |review| %>
<p><%= review.user.name %></p>
<p><%= review[:text] %></p>
<p><%= review[:stars] %></p>

<% end %>
</div>
<%= link_to 'Home', root_path %>
